.Rproj.user
.Rhistory
.RData
.Ruserdata
Notes
Photos
Norah & Brian's cool collab collection
*.csv
Old scripts
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
**/Plots
**/Data by person
**/IsoWeb2.1
**/Output Files
**/Ben.data
.RDataTmp
*.RDataTmp
**/History and Environment
(ENVI-0072's conflicted copy 2019-07-26).RData
